
<h1>등록</h1>
<ul>
    <li><a href="@Url.Action("VCBBasicList", "VCBBasic")">VCB</a></li>
    <li><a href="@Url.Action("ITRBasicList", "ITRBasic")">InterfaceTR</a></li>
    <li><a href="javascript:void(0)">Arm Reactor</a></li>
    <li><a href="javascript:void(0)">Wall Bushing</a></li>
    <li><a href="javascript:void(0)">PT,CT</a></li>
    <li><a href="javascript:void(0)">LA</a></li>
    <li><a href="javascript:void(0)">DS</a></li>
    <li><a href="/Regist/CompanyRegist/CompanyList.aspx">업체 등록</a></li>
</ul>