
<h1>종합정보</h1>
<ul>
    <li><a href="@Url.Action("Battery", "TotalInfo")">건전도 검색</a></li>
    <li><a href="@Url.Action("Connection", "TotalInfo")">연결&알람 검색</a></li>
    <li><a href="@Url.Action("Maintenance", "TotalInfo")">점검&고장&유지보수 검색</a></li>
</ul>
